<div>
  <h2>Name of the product: {{product.productName}}</h2>
  <p>Parameter of the product: {{product.productParameters}}</p>
  <p>Size of the product: {{product.productSize}}</p>
  <p>Weight of the costumer: {{product.weightOfCustomer}}</p>
  <p>Height of the costumer: {{product.heightOfCustomer}}</p>
  <ngb-rating *ngIf="isLoggedIn()" [max]="5" [(rate)]="currentRate"></ngb-rating>
  <button *ngIf="isLoggedIn()" (click)="sendRating()">Rate</button>
  <pre *ngIf="isLoggedIn() && currentRate!=0">Rate: <b>{{currentRate}}</b></pre>
</div>
