<div>
  <img *ngIf="product.switchOfProduct === 2" src="../../assets/ball_detail.png" />
  <img *ngIf="product.switchOfProduct === 1" src="../../assets/sticks_detail.png" />
  <img *ngIf="product.switchOfProduct === 3" src="../../assets/helmet_detail.png" />
  <p class="name">{{product.productName}}</p>
</div>

<hr/>
<table width="50%" cellspacing="0">
  <thead>
  <th width="100">Parameter of the product</th>
  <th width="100">Size of the product</th>
  <th width="100">Weight of the costumer</th>
  <th width="100">Height of the costumer</th>
  </thead>
  <tbody>
  <tr>
  <td>{{product.productParameters}}</td>
  <td>{{product.productSize}}</td>
  <td>{{product.weightOfCustomer}}</td>
  <td>{{product.heightOfCustomer}}</td>
  </tr>
  </tbody>
</table>
