<div class="card-body">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Parameter</th>
      <th scope="col">Size</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.product_name }}</td>
      <td>{{ product.product_parameters }}</td>
      <td>{{ product.product_size }}</td>
    </tr>
    </tbody>
  </table>
</div>
