<div class="card-body">
  <mat-form-field appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="changeState()">
      <mat-option value='ID'>ID</mat-option>
      <mat-option value='Name'>Name</mat-option>
      <mat-option value='Parameter'>Parameter</mat-option>
      <mat-option value='Size'>Size</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="toggle">
    <mat-slide-toggle (click)="toggle()">{{toggle_name}}</mat-slide-toggle>
  </div>
  <div *ngIf="isVisible">
    <div>
      <mat-form-field class="mat_input" appearance="fill">
        <mat-label>Min. size</mat-label>
        <input matInput (keypress)="onlyNumbers($event)" (ngModelChange)="onMinChange($event)" [(ngModel)]="min_value" placeholder="type only number">
      </mat-form-field>
    </div>
    <mat-form-field class="mat_input" appearance="fill">
      <mat-label>Max. size</mat-label>
      <input matInput (keypress)="onlyNumbers($event)" (ngModelChange)="onMaxChange($event)" [(ngModel)]="max_value" placeholder="type only number">
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" class="apply" (click)="filterSize()">Apply filter</button>
      <button mat-raised-button color="warn" class="reset" (click)="resetFilter()">Reset filter</button>
    </div>
  </div>


  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="filterProduct($event)" placeholder="Search">
  </mat-form-field>

  <h1>Last viewed</h1>
  <app-last-three></app-last-three>
  <h1>Products</h1>
  <mat-grid-list cols="3" rowHeight="350">
    <mat-grid-tile *ngFor="let product of products">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{product.productName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img *ngIf="product.switchOfProduct === 1" src="../../assets/florbal_stick.png" alt="stick" width="250" height="95">
          <img *ngIf="product.switchOfProduct === 2" src="../../assets/floorball_ball.png" alt="ball" width="250" height="95">
          <img *ngIf="product.switchOfProduct === 3" src="../../assets/helmet.png" alt="helmet" width="250" height="95">
          <ngb-rating [readonly] [max]="5" [(rate)]="product.ratingAverage"></ngb-rating>
        </mat-card-content>
        <mat-card-actions>
         <button class="detail_button" (click)="lastTree(product)" mat-button routerLink="/detail/{{product.id}}">Detail</button>
            <button class="detail_button" mat-button *ngIf="isAdminLoggedIn()" (click)="deleteProduct(product)">Delete </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
