.toggle{
  margin-bottom: 10px;
}
.min_size{
  margin-bottom: 10px;
}
.max_size{
  margin-bottom: 10px;
}
.apply{
  margin-bottom: 10px;
  margin-left: 10px;
}
.reset{
  margin-left: 10px;
}
.mat_input{
  margin-left: 10px;
}
