<div class="card-body">
  <form class="example-form" (ngSubmit)="onSubmit()" #productForm="ngForm">
    <div class="form-group">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" [(ngModel)]="product.product_name"
               id="name"
               matInput
               name="name"
               placeholder="Enter product name"
               required #name="ngModel">
      </mat-form-field>
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-danger">

        <div *ngIf="name.errors?.['required']">
          Product is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Parameter</mat-label>
        <input type="text" [(ngModel)]="product.product_parameters"
               id="parameters"
               matInput
               name="parameters"
               placeholder="Enter parameter"
               required #parameters="ngModel">
      </mat-form-field>
      <div *ngIf="parameters.invalid && (parameters.dirty || parameters.touched)"
           class="alert alert-danger">

        <div *ngIf="parameters.errors?.['required']">
          Parameter is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Size</mat-label>
        <input type="text" [(ngModel)]="product.product_size"
               id="size"
               matInput
               name="size"
               placeholder="Enter size"
               required #size="ngModel">
      </mat-form-field>
      <div *ngIf="size.invalid && (size.dirty || size.touched)"
           class="alert alert-danger">

        <div *ngIf="size.errors?.['required']">
          Size is required
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="!productForm.form.valid"
            class="btn btn-info">Submit
    </button>
  </form>
</div>
