.toggle{
  margin-bottom: 10px;
}
.min_size{
  margin-bottom: 10px;
}
.max_size{
  margin-bottom: 10px;
}
.apply{
  margin-bottom: 10px;
  margin-left: 10px;
}
.reset{
  margin-left: 10px;
}
.mat_input{
  margin-left: 10px;
}

.mat-card{
  padding: 100px;
  height: 300px;
  width: 300px;
}
.mat-card:hover{
  background-color: #f5f5f5;
}
.mat-card-title{
  text-align: center;
}
.mat-card-actions{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.mat-card-header{
  display: flex;
  justify-content: center;
}
.detail_button:hover{
  border: 2px solid black;
}
h1{
  text-align: center;
}
