<mat-grid-list cols="3" rowHeight="350">
  <mat-grid-tile *ngFor="let product of products">
    <mat-card class="example-card" >
      <mat-card-header>
        <mat-card-title>{{product.productName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img *ngIf="product.switchOfProduct === 1" src="../../assets/florbal_stick.png" alt="stick" width="250" height="95">
        <img *ngIf="product.switchOfProduct === 2" src="../../assets/floorball_ball.png" alt="ball" width="250" height="95">
        <img *ngIf="product.switchOfProduct === 3" src="../../assets/helmet.png" alt="helmet" width="250" height="95">
        <div class="rating">
          <ngb-rating class="stars" [readonly] [max]="5" [(rate)]="product.ratingAverage"></ngb-rating>
          <span>/ {{product.countOfRatings}}</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="detail_button" routerLink="/detail/{{product.id}}" mat-button>Detail</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
