<mat-toolbar>
  Florball shop
  <span class="username">{{getWhoIsLoggedIn()}}</span>
  <a routerLink="/login" *ngIf="!isLoggedIn()" class="toolbar_login">Login</a>
  <a routerLink="/login" *ngIf="isLoggedIn()" (click)="logout()" class="toolbar_login">Logout</a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <ul class="text-center list-inline py-3">
      <li class="list-inline-item">
        <a routerLink="/products" class="btn btn-info">Products list</a>
      </li>
      <li class="list-inline-item" *ngIf="isAdminLoggedIn()">
        <a routerLink="/addproducts" class="btn btn-info">Add product</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/idealstick" class="btn btn-info">Ideal stick</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/infoaboutsport" class="btn btn-info">Florbal theory</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/contact" class="btn btn-info">Contact</a>
      </li>
    </ul>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        {{node.name}}
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </div>
        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
             role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </mat-sidenav>
  <mat-sidenav-content>
    <br>
            <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
