<mat-toolbar>
  Florball shop
  <span class="username">{{getWhoIsLoggedIn()}}</span>
  <a routerLink="/login" *ngIf="!isLoggedIn()" class="toolbar_login">Login</a>
  <a routerLink="/register" *ngIf="!isLoggedIn()" class="toolbar_register">Registration</a>
  <a *ngIf="!isLoggedIn()" class="toolbar_split">|</a>
  <a routerLink="/login" *ngIf="isLoggedIn()" (click)="logout()" class="toolbar_login">Logout</a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <ul class="text-center list-inline py-3">
      <li class="list-inline-item">
        <a routerLink="/products" class="btn btn-info">Products</a>
      </li>
      <li class="list-inline-item" *ngIf="isAdminLoggedIn()">
        <a routerLink="/addproducts" class="btn btn-info">Add product</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/idealstick" class="btn btn-info">Ideal stick</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/infoaboutsport" class="btn btn-info">Florbal theory</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/contact" class="btn btn-info">Contact</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <br>
            <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
