<mat-toolbar>
  Florball shop
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <ul class="text-center list-inline py-3">
      <li class="list-inline-item">
        <a routerLink="/products" class="btn btn-info">Products list</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/addproducts" class="btn btn-info">Add product</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/users" class="btn btn-info">List Users</a>
      </li>
      <li class="list-inline-item">
        <a routerLink="/adduser" class="btn btn-info">Add User</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
                <h2 class="card-title">{{ title }}</h2>
            <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

