mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 280px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.btn-info {
  background-color: #002b5c;
  border-color: #002b5c;
}

.btn-info:hover {
  border-color: #17a2b8;
}

.btn {
  margin-bottom: 20px;
}

.card-title {
  color: #002b5c;
  text-align: center;
  margin-top: 10px;
}
.toolbar_login {
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  margin-left: 93%;
  position: fixed;
}
span{
  margin-left: 44em;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}
.mat-tree-node{
  background-color: #002b5c;
  color: white;
}
div{
  background-color: #002b5c;
}
.text-center{
  display: inline-grid;
}
.btn{
  font-size: 20px;
}
