<div class="card-body">
  <mat-form-field appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="changeState()">
      <mat-option value='ID'>ID</mat-option>
      <mat-option value='Name'>Name</mat-option>
      <mat-option value='Email'>Email</mat-option>
    </mat-select>
  </mat-form-field>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
    </tr>
    </tbody>
  </table>
</div>
