<div class="container">
    <div class="col-md-12">
      <h1>Find me the ideal floorball stick</h1>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Your weight(kg)</mat-label>
          <input type="text" [(ngModel)]="parameters.weightInForm"
                 id="weight"
                 matInput
                 (keyup)="calculate()"
                 name="weight"
                 placeholder="Enter your your weight"
                 required #weight="ngModel">
        </mat-form-field>
        <div *ngIf="weight.invalid && (weight.dirty || weight.touched)"
             class="alert alert-danger">

          <div *ngIf="weight.errors?.['required']">
            Weight is required
          </div>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Your height(cm)</mat-label>
          <input type="text" [(ngModel)]="parameters.heightInForm"
                 id="height"
                 matInput
                 (keyup)="calculate()"
                 name="height"
                 placeholder="Enter your height"
                 required #height="ngModel">
        </mat-form-field>
        <div *ngIf="height.invalid && (height.dirty || height.touched)"
             class="alert alert-danger">

          <div *ngIf="height.errors?.['required']">
            Height is required
          </div>
        </div>
      </div>
    </div>
    <mat-grid-list cols="3" rowHeight="350">
      <mat-grid-tile *ngFor="let product of products">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{product.productName}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img *ngIf="product.switchOfProduct === 1" src="../../assets/florbal_stick.png" alt="stick" width="250" height="95">
            <img *ngIf="product.switchOfProduct === 2" src="../../assets/floorball_ball.png" alt="ball" width="250" height="95">
            <img *ngIf="product.switchOfProduct === 3" src="../../assets/helmet.png" alt="helmet" width="250" height="95">
            <ngb-rating [readonly] [max]="5" [(rate)]="product.ratingAverage"></ngb-rating>
          </mat-card-content>
          <mat-card-actions class="skuska">
           <button class="detail_button" (click)="lastTree(product)" mat-button routerLink="/detail/{{product.id}}">Detail</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
</div>
